.example-embed {
  width: 100%;
  height: 100%;
}

.example-embed--container {
  margin-top: 2rem;
  width: 100%;
  height: 80vh;
}

.example-embed--fs-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  margin-left: auto;
  padding: 0.2rem 0.6rem;
  transition: all 200ms linear;
  border: none;
  border-radius: 0.5rem;
}

.example-embed--fs-btn:hover {
  background-color: #474747af;
}

.example-embed--fs-btn > span {
  margin-right: 1rem;
  font-size: 0.8rem;
}
