html,
body {
  box-sizing: border-box;
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
}

.heading--sub {
  font-size: 1rem;
  text-align: center;
  margin-top: 1rem;
}

article.docs-container > main {
  width: 100%;
}
