.stp {
  padding: 0.5rem 0.4rem;
  outline: none;
  font-family: var(--font);
  border: none;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  display: inline-flex;
  border: var(--outline);
}

.stp * {
  outline: none;
}

.stp:focus,
.stp *:focus {
  box-shadow: 0px 0px 0px 2px #60a5fab3;
}

.stp > p {
  margin: 0 2px;
  display: inline;
}
