.stp {
  padding: 0.5rem 0.4rem;
  outline: none;
  font-family: var(--font);
  border: none;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  display: inline-flex;
  border: var(--outline);
}

.stp--disabled {
  pointer-events: none;
}

.stp--divider {
  line-height: 1rem;
}

.stp--divider__disabled {
  opacity: 50%;
}

.stp * {
  outline: none;
}

.stp:focus {
  box-shadow: var(--ring-shadow);
}

.stp > p {
  margin: 0 2px;
  display: inline;
}
