.sdp {
  --font: -apple-system, 'Inter', BlinkMacSystemFont, Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  --shadow-md: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  width: 16rem;
  font-family: var(--font);
  border: none;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  background-color: #ffffff;
  padding: 0.75rem;
}

.sdp--text {
  font-weight: 500;
  margin: 0;
  text-align: center;
}

.sdp--text__inactive {
  color: #bdbdbd;
  pointer-events: none;
}

.sdp--square-btn {
  height: 1.8rem;
  width: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border: none;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-family: var(--font);
}

.sdp--square-btn:focus {
  outline: none;
  box-shadow: 0px 0px 0px 2px rgb(59 130 246 / 70%);
}

.sdp--square-btn:focus:hover {
  box-shadow: none;
}

.sdp--square-btn__shadowed {
  box-shadow: var(--shadow);
}

.sdp--square-btn__shadowed:focus:hover {
  box-shadow: var(--shadow);
}

.sdp--date-btn__selected {
  background-color: #60a5fa;
  color: #ffffff;
  box-shadow: var(--shadow);
}

.sdp--date-btn__selected.sdp--square-btn:focus {
  box-shadow: var(--shadow);
}

.sdp--month-picker {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sdp--dates-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
  margin: 0.75rem 0 0;
  justify-items: center;
}
